@import '~bootstrap/dist/css/bootstrap.min.css';

.card {
  padding: 50px 0;
}

.card-body {
  background-color: #fff;
  padding: 30px;
  text-align: center;
}

.card-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1eb2a6;
  padding: 15px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  margin-left: 15px;
  text-align: left;
}

.card-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}

.card-rate {
  margin: 20px 0;
  color: #1eb2a6;
}

.card-rate i {
  font-size: 13px;
  margin-right: 5px;
}

.card-details .dimg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.card-details .box {
  display: flex;
  align-items: center;
  color: grey;
}

.card-details span {
  color: #1eb2a6;
  font-weight: 500;
  font-size: 14px;
}

.card-price {
  margin: 30px 0;
  background-color: #f8f8f8;
  padding: 10px;
}

.card-subtitle {
  font-weight: 500;
  color: #1eb2a6;
}

.online-container {
  text-align: center;
}

.online-box {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
  padding: 30px 20px;
  transition: 0.5s;
}

.online-image {
  width: 80px;
  height: 80px;
  margin: auto;
  position: relative;
}

.online-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.online-box .show {
  opacity: 0;
}

.online-box:hover {
  background-color: #1eb2a6;
  border-radius: 5px;
  cursor: pointer;
}

.online-box:hover .show {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.online-box:hover h1 {
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* Adjust your styles for smaller screens if needed */
}
